Methods
=======

A method is a function that starts with a `.`.


For example `"abc"` is a string, so `"abc".upper` is the string method `upper`. It returns an uppercase version of the string.

In [1]:
# normal function
print("abc")

# method
x = "abc"
x.upper()

abc

'ABC'

In [2]:
# split method
x = "a.b.c"
x.split('.')

['a', 'b', 'c']

In [3]:
# join method
x = "a.b.c"
splits = x.split('.')
"-".join(splits)

'a-b-c'

List methods
========

In [4]:
# adding to a list using append
fruit = ['apple', 'pear']

fruit.append('banana')
fruit.append('kiwi')

fruit

['apple', 'pear', 'banana', 'kiwi']

In [5]:
# adding to a list using extend
cities = ['chicago', 'cairo']

cities.extend(['são paulo', '香港'])

cities

['chicago', 'cairo', 'são paulo', '香港']

Dictionaries
=============

In [6]:
# Defining dictionaries
d = {'id': 1, 'name': 'greg', 'city': 'denver'}

d['name']

'greg'

In [7]:
# List of dictionaries
entries = [
    {'school': 'princeton', 'state': 'NJ'},
    {'school': 'yale', 'state': 'CT'},
    {'school': 'harvard', 'state': 'MA'}
]


entries[0]['school']

'princeton'

Modifying Lists and Dictionaries
===================================

In [8]:
# Works just like indexing, but with equal sign
x = [1,2,3]
x[1] = 100

x

[1, 100, 3]

In [9]:
y = {'a': 1, 'b': 2}

y['a'] = 100

y

{'a': 100, 'b': 2}

Examples
====

In [10]:
from requests import request

r = request('GET', url = 'http://example.com')
r.text

'<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n    <meta charset="utf-8" />\n    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />\n    <meta name="viewport" content="width=device-width, initial-scale=1" />\n    <style type="text/css">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;\n        \n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 50px;\n        background-color: #fff;\n        border-radius: 1em;\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        body {\n            background-color: #fff;\n        }\n        div {\n            width: auto;\n            margin: 0 auto;\n            border-radius: 0;\n            padding: 1em;\n        }\n    }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n    <p>This domain is established to be used for illustrative examples in documents. You may use this\n    domain in examples without prior coordination or asking for permission.</p>\n    <p><a href="http://www.iana.org/domains/example">More information...</a></p>\n</div>\n</body>\n</html>\n'

In [11]:
from pandas import DataFrame
cities = [
    {'city': 'Chicago', 'country': 'USA'},
    {'city': 'Paris', 'country': 'France'},
    {'city': 'Sãu Paulo', 'country': 'Brazil'}
]

DataFrame(cities)

        city country
0    Chicago     USA
1      Paris  France
2  Sãu Paulo  Brazil